head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.1/firebase.js")
    script(src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js")
    script(src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js")
    script(src="./js/firebaseInit.js")
    script(src="./js/validate.js")
    script(src="./js/login.js")
    script(src="./js/controller.js")
    link(rel="stylesheet" href="./css/main.css" type="text/css")
    link(rel="stylesheet" href="./css/box.css" type="text/css")
    link(rel="stylesheet" href="./css/chat.css" type="text/css")
    link(rel="stylesheet" href="./css/form.css" type="text/css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    link(rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css")
