header(class="full-height")
    div(class="container-fluid")
        div(class="row box")
            div(class="col-sm-2")
            div(class="col-sm-8 boxContent tab-content")
                include ./tabs/tabs.pug
            div(class="col-sm-2")